.App
{
  padding: 20px;
}
.color
{
  height: 80px;
  width: auto;
  /* background-color: pink; */
}
img
{
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: 1px solid black;
  position: absolute;
  left: 60px;
  top: 40px;
  background-color: white;
}

.container
{
  height: 320px;
  width: 200px;
  border: 1px solid black;
  position: relative;
 
}
.font
{
  text-align: center;
  line-height: 15px;
  margin-top: 60px;
  font-weight: 400;
}
.flex
{
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}
.flex .add{
 height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 2px;
 
}
.flex img
{
  height: 20px;
  width: 30px;
  margin-top: 245px;
  margin-left: 75px;
  border: none;
  font-weight: bold;
 
}
.chatbox
{
  border: 1px;
  padding: 30px 40px 0 10px;
  border: 1px solid black;
}
ol
{
  display: flex;
  justify-content: space-evenly;
}